<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game</title>
    <link rel="stylesheet" href="/template/static/style.css">
</head>

<body>
    <div class="game_info">
        <div id="lives">Lives: 3</div>
        <div id="score">Score: 0</div>
        <div id="timer">Time: 00:00</div>
        <div id="level">Level: 1</div>
    </div>

    <div class="game">
        <div class="grid">
            <div class="allblocks"></div>
            <!-- <button id="next_level" class="hidden">Next level</button> -->
        </div>
    </div>

    <div class="buttons">
        <button id="pause">Pause</button>
        <button id="reset">Reset</button>
    </div>

    <script src="/template/js/script.js"></script>
</body>

</html>